.hero-banners {
    display: flex;
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 8px;
    background-color: white;
}
.hero-banners > div {
    flex: 50%;
}
.hero-banners > div:first-child {
    margin-right: 20px;
}

.heroslider {
    padding: 16px 0;
}

.home-subtitle {
    padding: 8px;
    background-color: var(--primary-color);
}
.home-subtitle h3 {
    color: #fff !important;
}
.product-slider .home-subtitle a p {
    color: white;
}
.product-slider .home-subtitle a:hover p{
    color: black;
}

.home-seo-text .row {
    background-color: white;
    padding: 20px;
}
.home-seo-text button {
    border: none;
    padding: 5px;
    background-color: transparent;
}

@media (max-width: 768px) {
    .hero-banners {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .heroslider {
        padding:  0;
    }
    .home-subtitle {
        padding: 2px 0;
    }
}
@media (max-width: 480px) {
    .hero-banners {
        margin-top: 1.5rem;
    }
    .product-slider .home-subtitle h3 {
        font-size: 16px;
    }
    .product-slider .home-subtitle a p {
        font-size: 18px;
    }
    .home-seo-text h2 {
        font-size: 1.3rem;
    }
    .home-seo-text p{
        font-size: 0.9rem;
    }
}




