.main-banner-content {
    display: block;
    top: 20%;
    left: 5%;
    padding: 15px;
}

.main-banner-content h4 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 12px;
}

.main-banner-content h5 {
    font-size: 44px;
    line-height: 45px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
    color: white;
}

.main-banner-content p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: white;
}

.button {
    background-color: var(--dark);
    color: white;
    font-size: 14px;
    padding: 10px 18px;
}

.button:hover {
    background-color: var(--primary-color);
    transition: ease-in-out;
}

.carousel-indicators .active {
    background-color: var(--primary-color);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .main-banner{
        display: none;
    }
}
