.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 180px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal > p {
    padding: 10px 0;
    border-bottom: 1px solid rgb(221, 223, 208);
}
.subtotal_price {
    display: flex;
    justify-content: space-between;
}

.subtotal_gift {
    display: flex;
    align-items: center;
}

.subtotal_gift > input {
    margin-right: 5px;
}

.subtotal > button {
    background-color: #fffb00;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: #bdb10b;
    color: #111;
}