.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}
.gap-30 {
    gap: 30px;
}



.header-top-strip{
    background-color: var(--dark);
    border-bottom: 1px solid var(--border-color);
}
.header-upper{
    background-color: var(--dark);
}
.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.header-upper-links {
    font-size: 12px;
}
.header-upper .header-upper-links img{
    width: 35px;
    height: 35px;
}
.header-bottom {
    background-color: var(--mid-light);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
    box-shadow: none;
}
.header-bottom .dropdown-menu {
    background-color: var(--dark);
    width: 100%;
    border-radius: 0;
    transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item {
    padding: 20px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
}
.header-bottom .dropdown-item:hover {
    background-color: transparent;
    color: var(--primary-color) !important;
}